<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01_FONT GUIDE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrap">
        <script language=javascript src="js/menu.js"></script>
        <section class="wrap-inner">
            <div class="tit-wrap ">
                <h1>01_FONT GUIDE</h1>
                <br>body(본문 txt) - Basic Regular 16 / 24
            </div>
            <!-- h1~h6 -->
            <div class="tbl-base txt-c">
                <table>
                    <caption>폰트<strong>폰트</strong>
                        <p >className, 크기/행간 정보입니다.</p>
                    </caption>
                    <colgroup>
                        <col class="col-m">
                        <col class="col-auto">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">className</th>
                            <th scope="col">크기/행간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h1>.h1</h1>
                            </td>
                            <td>
                                <h1 class="txt-l">HeaderBold 32 / 45 <br>페이지 타이틀 / Header Title</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>.h2</h2>
                            </td>
                            <td>
                                <h2 class="txt-l">Header Bold 28 / 36 <br>Frame 상단</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>.h3</h3>
                            </td>
                            <td>
                                <h3 class="txt-l">Bold 24 / 32 <br>Frame 상단 / 우측프레임 타이틀</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>.h4</h4>
                            </td>
                            <td>
                                <h4 class="txt-l">Bold 20 / 28 <br>우측프레임타이틀, 컨텐츠 강조</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>.h5 </h5>
                            </td>
                            <td>
                                <h5 class="txt-l">Header Bold 18 / 26 <br>페이지 타이틀</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>.h6</h6>
                            </td>
                            <td>
                                <h6 class="txt-l">Header Bold 16 / 24</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- bullet + txt -->
            <h2 class="mt40">bullet + txt</h2>
            <h3 class="mt30">CASE01 16px 본문TXT #333 (bul-dot)</h3>
            <p class="bul-dot"> 16/24, 본문 TXT #333, dot - 5 x 5, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</p>
            <ul class="bul-dot">
                <li>16/24, 본문 TXT #333, dot - 5 x 5, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                <li>16/24, 본문 TXT #333, dot - 5 x 5, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.
                    <ul>
                        <li>블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                        <li>블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                    </ul>
                </li>
            </ul>

            <h3 class="mt30">CASE02 16px 본문TXT #777 (bul-dot type-a)</h3>
            <p class="bul-dot type-a"> 16/24, 본문 TXT #777, dot - 5 x 5, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</p>
            <ul class="bul-dot type-a">
                <li>16/24, 본문 TXT #777, dot - 5 x 5, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                <li>16/24, 본문 TXT #777, dot - 5 x 5, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 
                    <ul>
                        <li>블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                        <li>블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                    </ul>
                </li>
            </ul>

            <h3 class="mt30">CASE03 14px 부가설명 #777 (bul-dot type-b)</h3>
            <h4 class="bul-tit">유의사항을 확인하세요</h4>
            <p class="bul-dot type-b"> 14/21, 본문 TXT #777, dot - 3 x 3, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</p>
            <ul class="bul-dot type-b">
                <li>14/21, 본문 TXT #777, dot - 3 x 3, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다.블릿 텍스트입니다.블릿 텍스트입니다.</li>
                <li>14/21, 본문 TXT #777, dot - 3 x 3, 블릿 텍스트입니다. 블릿 텍스트입니다. 블릿 텍스트입니다. </li>
            </ul>
        </section>
    </div>
</body>

</html>